.content {
	max-width: 90%;
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: left;
	font-size: var(--kg);
	line-height: var(--size-8);
	background-color: var(--color-grey-100);
	color: var(--color-grey-800);
	max-width: 650px;
}

.content .image {
	object-fit: contain;
	padding: var(--r5) 0 var(--r5);
	align-self: center;
}

@media (max-width: 600px) {
	.content {
		align-items: center;
		max-width: 100%;
		padding: 0;
	}

	.content p {
		width: 80%;
		font-size: small;
		line-height: medium;
	}
}
