.header {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	border-bottom: 2px solid var(--color-grey-600);
}

.dateAndTitle h2,
.dateAndTitle span {
	max-width: 650px;
	margin: var(-r5) var(--r5) 0 var(--r5);
}

.header h2 {
	line-height: normal;
}

.dateAndTitle {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	padding: 0 var(--r5) var(--size-8) var(--r5);
	background-color: var(--color-grey-100);
	height: 100%;
}

.caption {
	font-size: small;
	line-height: 0;
}

.header img {
	object-fit: contain;
}

@media (min-width: 768px) {
	.header {
		font-size: 30px;
		align-items: center;
		justify-content: center;
	}
	.header h1 {
		font-size: var(--size-16);
		text-align: left;
	}
}
